<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="/fragments/globaltemp::head"></head>
<body>

    <div th:replace="/fragments/globaltemp::nav"></div>


    <div th:fragment="info">
        <span th:text="'Name: '+${customer.firstName}+' '+${customer.lastName}"></span>
        <br>
        <span th:text="'Address: '+${customer.addressStreet}+', '+${customer.addressCity}+', '+${customer.addressState}+' '+${customer.addressZip}"></span>
        <br>
        <span th:text="'Phone Number: '+${customer.phone}"></span>
        <br>
        <span th:text="'Email: '+${customer.email}"></span>
    </div>


<!-- Optional JavaScript -->


</body>
</html>