<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="/fragments/globaltemp::head"></head>
<body>

    <div th:replace="/fragments/globaltemp::nav"></div>


    <!--customer search with selectable search type-->
    <form th:fragment="SearchTypeCustomer" th:action="@{/customersearchresults}" method="post">
        <div class="form-group">
            <label class="form-select-label" for="searchType">Select Search Type</label>
            <select class="form-select-input" name="searchType" id="searchType">
                <option value="1">First and Last Name</option>
                <option value="2">Street Address</option>
                <option value="3">Phone Number</option>
                <option value="4">Email Address</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-text-label" for="searchValue"></label>
            <input class="form-text-input" type="text" name="searchValue" id="searchValue" placeholder="Enter info here">
        </div>
        <button type="submit" class="form-button">Search</button>
    </form>

    <!--Name Search-->
    <form th:fragment="searchName" th:action="@{/customersearchresults}" method="post">
        <div class="form-group">
            <label class="form-text-label" for="name"> Enter First Name & Last Name: </label>
            <input class="form-text-input" type="text" name="searchValue" id="name" placeholder="ie. Jane Smith">
        </div>
        <input type="hidden" name="searchType" th:value="1">
        <button type="submit" class="form-button">Search</button>
    </form>

    <!--Search Address-->
    <form th:fragment="searchAddress" th:action="@{/customersearchresults}" method="post">
        <div class="form-group">
            <label class="form-text-label" for="searchAddress">Enter Street Address</label>
            <input class="form-text-input" type="text" name="searchValue" id="searchAddress" placeholder="ie. 123 E. Main St, NW">
        </div>
        <input type="hidden" name="searchType" value="2">
        <button type="submit" class="form-button">Search</button>
    </form>

    <!--Search Phone-->
    <form th:fragment="searchPhone" th:action="@{/customersearchresults}" method="post">
        <div class="form-group">
            <label class="form-text-label" for="searchPhone">Enter Phone Number</label>
            <input class="form-text-input" type="text" name="searchValue" id="searchPhone" placeholder="ie. 555-555-5555">
        </div>
        <input type="hidden" name="searchType" value="3">
        <button type="submit" class="form-button">Search</button>
    </form>

    <!--Search Email-->
    <form th:fragment="searchEmail" th:action="@{/customersearchresults}" method="post">
        <div class="form-group">
            <label class="form-text-label" for="searchEmail">Enter Emain Address</label>
            <input class="form-text-input" type="text" name="searchValue" id="searchEmail" placeholder="Email Address">
        </div>
        <input type="hidden" name="searchType" value="4">
        <button type="submit" class="form-button">Search</button>
    </form>

    <!--Search account-->
    <form th:fragment="searchAccount" th:action="@{/accountsearchresults}" method="post">
        <div class="form-group">
            <label class="form-text-label" for="searchAccount">Enter Account Number:</label>
            <input class="form-text-input" type="text" name="accountNumber" id="searchAccount" placeholder="Account #">
        </div>
        <button type="submit" class="form-button">Search</button>
    </form>


<!-- Optional JavaScript -->


</body>
</html>