<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="/fragments/globaltemp::head"></head>
<body>

<div th:replace="/fragments/globaltemp::nav"></div>

<div class="container-fluid">

    <div th:fragment="index">
        <h6>Accounts</h6>
        <a th:href="@{/createcustomer}">Create New Customer</a>
        <br>
        <a th:href="@{/viewallcustomers}">View All Customers</a>
        <br>
        <a th:href="@{/searchcustomers}">Search For Customer</a>
        <br>
        <a th:href="@{/searchaccounts}">Find Account by Account Number</a>
    </div>

    <div>
        <br>
        <h6>Message Center</h6>
        <a th:href="@{/messagecenter}">Go to Messaging Page</a>
    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="/fragments/globaltemp::scripts"></div>

</body>
</html>