<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="/fragments/globaltemp::head"></head>
<body>

<div th:replace="/fragments/globaltemp::nav"></div>

<div class="container-fluid">

    <form th:action="@{/savetransaction/{custId}/{acctId}(custId=${customer.id},acctId=${account.id})}" th:object="${transaction}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="stringDate">Date: </label>
            <input type="text" th:field="*{stringDate}" class="form-control" id="stringDate" placeholder="MM/dd/YYYY">
        </div>
        <div class="form-group">
            <label for="description">Description: </label>
            <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="creditOrDebit"> Credit or Debit</label>
            <select th:field="*{creditOrDebit}" class="custom-select" id="creditOrDebit">
                <option value="Credit">Credit</option>
                <option value="Debit">Debit</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Amount: </label>
            <input type="text" th:field="*{amount}" class="form-control" id="amount" placeholder=" ">
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" th:field="*{posted}" value="true" class="custom-control-input" id="posted">
            <label for="posted" class="custom-control-label">Check if Posted</label>
        </div>
        <button type="submit" class="btn btn-primary">Save Transaction</button>
    </form>


</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="/fragments/globaltemp::scripts"></div>

</body>
</html>