<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="/fragments/globaltemp::head"></head>
<body>

    <div th:replace="/fragments/globaltemp::nav"></div>

    <table class="table">
        <thead>
        <tr class="th-row">
            <!--<th scope="col">Action</th>-->
            <th scope="col">Account #</th>
            <th scope="col">Balance</th>
            <th scope="col">Customers on Account</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <!--<th scope="row"><a th:href="@{/accounttransactions/{custId}/{acctId}}">View</a></th>-->
            <th scope="row" th:text="${account.accountNumber}"></th>
            <td th:text="${account.currentBalance}"></td>
            <td th:inline="text" th:each="eachCustomer:${account.accountCustomers}"><a th:href="@{/viewcustomer/{custId}(custId=${eachCustomer.id})}">[[${eachCustomer.firstName}]] [[${eachCustomer.lastName}]]</a><br></td>
        </tr>
        </tbody>
    </table>


<!-- Optional JavaScript -->


</body>
</html>