<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="/fragments/globaltemp::head"></head>
<body>

<div th:replace="/fragments/globaltemp::nav"></div>


    <table class="table">
        <thead>
            <tr class="th-row">
                <th scope="col">Action</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="eachCustomer:${customers}" >
                <th scope="row"><a th:href="@{/viewcustomer/{custId}(custId=${eachCustomer.id})}">View</a></th>
                <td th:text="${eachCustomer.lastName}"></td>
                <td th:text="${eachCustomer.firstName}"></td>
                <td th:text="${eachCustomer.addressStreet}"></td>
                <td th:text="${eachCustomer.phone}"></td>
                <td th:text="${eachCustomer.email}"></td>

            </tr>
        </tbody>
    </table>


<!-- Optional JavaScript -->


</body>
</html>