<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="/fragments/globaltemp::head"></head>
<body>

    <div th:replace="/fragments/globaltemp::nav"></div>

    <div th:fragment="index">
        <h2>Accounts</h2>
        <a th:href="@{/createcustomer}">Create New Customer</a>
        <br>
        <a th:href="@{/viewallcustomers}">View All Customers</a>
        <br>
        <a th:href="@{/searchcustomers}">Search For Customer</a>
        <br>
        <a th:href="@{/searchaccounts}">Find Account by Account Number</a>
    </div>

    <div>
        <br>
        <h2>Message Center</h2>
        <a th:href="@{/messagecenter}">Go to Messaging Page</a>
    </div>


<!-- Optional JavaScript -->


</body>
</html>